ul, li {
    padding: 0px!important;
    }

* {
    margin:0%;
}
.menu-urls {
    width: 100%;
    border-bottom:  3px solid rgb(243, 72, 66);
    height: 80px;
    background-color: rgb(40, 35, 63);
    height: 65px;
    margin-bottom: 0px;
    }

.menu ul li a{
    display: inline-block;
    color: red;
    margin-left: 15px;
    height: 58px;
    font-size: 1.25em;
}

.menu ul {
    display: flex;
    list-style:none;
    justify-content: center;
    align-items: center;
    height:100px;
}


.title-logo a{
    display:flex;
    align-items: center;
    text-decoration: none;
    float: left;
    color:red;
    font-size: 1.5em;
    margin-left: 2%;
}


.busca {
    float:right;
    width: 30%;
    inline-size: 10%;
    align-items: center;
    margin-left: 18%;
    margin-bottom: 33px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    
}

.busca input{
    background-repeat: no-repeat;
    background-color: black;
    border: 1px solid gray;
    height: 25px;
    width: 190px;
}